@import './resets', './theme/typography.scss', './theme/palette.scss' ;

html,
body {
    height: 100vh;
}

body {
    font-family: $ff-sans;
    background: map-get($map: $palette, $key: 'bg-dark');
    color: map-get($map: $palette, $key: 'fg-light');
}

.clock-container {
    margin-inline: 32px;
    height: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

#analogClock {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    isolation: isolate;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'a1';
    & > * {
        grid-area: a1;
        place-self: center;
    }
    .tick {
        width: 100%;
        height: 12px;
        border: 4px solid map-get($map: $palette, $key: 'fg-light');
        z-index: 1;
    }
    @for $i from 2 through 6 {
        .tick:nth-child(#{$i}) {
            rotate: calc(-30deg * ($i - 1));
        }
    }
    .sphere {
        width: 85%;
        background-color: map-get($map: $palette, $key: 'bg-dark');
        aspect-ratio: 1;
        border-radius: 50%;
        box-shadow: 0 0 10px 18px map-get($map: $palette, $key: 'bg-dark');
        z-index: 10;
    }
    #secondsHand {
        z-index: 20;
        width: 55%;
        height: 12px;
        background: map-get($map: $palette, $key: 'accent1');
        clip-path: polygon(0 0, 100% 40%, 100% 60%, 0 100%);
        transform: translateX(26%);
        animation: full-turn 60s linear infinite;
    }
    #pivot {
        z-index: 30;
        width: 12px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: map-get($map: $palette, $key: 'bg-dark');
    }
}

#digitalClock {
    display: grid;
    place-content: center;
}

#digitalDisplay {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
    & > div {
        display: flex;
        gap: 10px;
    }
}

.digit {
    font-family: 'DigitalMono';
    display: grid;
    place-content: center;
    grid-template-areas: 'a1';
    & > * {
        grid-area: a1;
    }
    & > div:first-child {
        opacity: 0.1;
        color: map-get($map: $palette, $key: 'fg-light');
    }
    & > div:last-child {
        opacity: 1;
        color: map-get($map: $palette, $key: 'accent1');
    }
}

.separator { margin-inline: -25px; }
.blinking { animation: blink 1s linear infinite; }

#dateDisplay {
    text-align: center;
}

@keyframes blink {
    10% { opacity: 0; }
    75% { opacity: 1; }
}

@keyframes full-turn {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}